#root {
    height: 100px;
    width:auto;
    font-size: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
h1 {
    font-size: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
h2 {
    font-size: 35px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content {
    height: 100%;
    width: 100%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.search {
    width: 250px;
}
.top {
    width: 700px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
}
.row {
    height: 100%;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.item {
    width: 150px;
    height: 150px;
}
.itemImage {
    width: 150px;
    height: 150px;
}
.description {
    font-size: 15px;
}
.images {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 50px;
}